<!-- book.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Book Title</h1>
        <img src="book-cover.jpg" alt="Book Cover" class="book-cover">
        <p>Author: Author Name</p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae eros sit amet arcu feugiat feugiat. Ut vitae dui condimentum, vehicula mauris ac, convallis urna. Mauris sit amet magna et leo lobortis tincidunt.</p>
        <p>Price: $XX.XX</p>
        <a href="#" class="back-link">Back to Home</a>
    </div>
</body>
</html>
